<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="CrossBrowserParallelSuite" parallel="tests" thread-count="3">

    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <parameter name="URL" value="${URL}"/>
        <parameter name="FFURL" value="${FFURL}"/>
        <classes>
            <class name="newOne.FirstTestDemoTest"/>
        </classes>
    </test>

    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="newOne.FirstTestDemoTest"/>
        </classes>
    </test>
   
</suite>